# Numeric datatypes

* int 
* float
* complex

In [38]:
# Variable assinged with float value
pi = 3.14
radius = 5
# Variable assinged to integer value
# Calculate area with standard formula
area = pi * radius * radius
# printing the area 
area

78.5

In [39]:
type(pi)

float

In [40]:
type(radius)

int

In [41]:
type(area)

float

In [42]:
# type hint
pi: float = 3.14
radius : float = 5
area : float = pi * radius * radius

In [43]:
# Arthematic operators
maths : int = 97
science : int = 81
social : int = 83

In [44]:
marks: int = maths + science + social 
marks

261

In [45]:
# average 
marks / 300 * 100

87.0

In [46]:
pi * radius ** 2

78.5

In [47]:
number: int = 17
number % 2
               # IF IT IS ONE IT IS A ODD  NUMBER

1

In [48]:
number: int = 18
number % 2
# IF IT IS ZERO IT IS A EVEN NUMBER

0

In [49]:
4 // 3

1

In [50]:
4 / 3

1.3333333333333333

In [51]:
# Assingment operators 

x = 5    
y = x 
z = y +1 
print(x)
print(y)
z

5
5

6

In [52]:
n = 5 
n = n + 1
n

6

In [53]:
n = 5
n += 1
n

6

In [54]:
n = 17 
n % 2 == 0

False

In [55]:
n = 10
n % 2 == 0

True

In [56]:
n = 18 
n % 2 == 0

True

In [ ]:
 # X is greater then 5 and X is even 
X = 4
type(4)

X > 5 and X % 2 == 0

False

In [ ]:
X = 4
X > 5 or  X % 2 == 0
 # OR means if one is true then true.

True

In [81]:
# multiple of 3 or 5 
number = int(input("Enter any numbet"))
number % 3 == 0 or number % 5 == 0

True

In [ ]:
# Calculate 
# Simple intrest
# compound intrest
# Convert kilogram into pounds 
# Convert yards into feet

In [94]:
# Simpel intrest 

p = 30
r = 7
t = 6 
si = (p * r * t) / 100
print(si)

12

In [ ]:
P = int(input("Enter number"))
R = int(input("enter number"))
T = int(input("Enter number"))
SI = (P * R * T) / 100
print(SI)

0

In [121]:
# Compound intrest 


P = int(input("Enter number")) 
r = int(input("Enter number")) 
n = int(input("Enter number")) 
t = int(input("Enter number")) 
A = P *1 + r/n* n*t
print(A)

6

In [147]:

# Convert kilogram into pounds
#  
kg = int(input("Enter weight in kilograms: "))
pounds = kg *  (2.20462)
print(pounds)

121

In [152]:
# Convert yards into feet 

yards = int(input("Enter length in yards: "))
feet = yards * 3
print(feet)

60

In [ ]:
X = 3 * 5 + 6 // 8 - 7 * 10 + 100

In [ ]:
X = 3 * (5 + 6) // 8 - (7 * 10 + 100)